body {
    width: 80vw;
    margin: 0 auto;
}

header {
    background-color: dodgerblue;
    background-image: linear-gradient(269deg, #CB7CF7 0%, #5CA1F1 100%);
}

nav {}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style-type: none;
}

.introduce {
    display: flex;
    flex-direction: row;
}

.summary {
    padding: 5em;
}

.clients {
    border-bottom: solid 2px blue;
    text-align: center;
}

.clients ul {
    padding-right: 20%;
    padding-left: 20%;
    display: flex;
    flex-direction: row;
}

.clients li {
    list-style-type: none;
}

.clients h1 {}

.profile {
    display: flex;
    flex-direction: row;
}

.profile-pic {}

.profile-pic>img {
    border-radius: 50%;
    height: 15em;
}

.skills {}

.testimonials {
    background-image: linear-gradient(270deg, rgba(24, 9, 97, 0.74) 0%, #1780DC 100%);
    border: 1px solid #979797;
}

.portfolio {}

.contact {}

.contact form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {}

footer>section {}

.social {}

.pad {
    padding: 2em 5em;
}